adfprojtrinm3/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfprojtrinm3"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dataflow Title Csv to Synapse')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_adls_titlemaster",
								"type": "DatasetReference"
							},
							"name": "sourcecsvtitle"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_synapse_title",
								"type": "DatasetReference"
							},
							"name": "sinksynapsetitle"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          TitleCode as string,",
						"          TitleDescription as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> sourcecsvtitle",
						"sourcecsvtitle sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          TitleCode as string,",
						"          TitleDescription as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     staged: true,",
						"     allowCopyCommand: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinksynapsetitle"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline - Agency Csv to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow Agency Csv to Synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow Agency Csv to Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourcecsvagency": {},
									"sinksynapseagency": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlstrinm3",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayrolltrinm3/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-07-17T16:51:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline - Aggregate Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow - Aggregate Data",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow Aggregate Data",
								"type": "DataFlowReference",
								"parameters": {
									"dataflow_param_fiscalyear": {
										"value": "@pipeline().parameters.FiscalYearParam",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"sourcesqldbnycpayrolldata": {},
									"sourceadlsnycpayroll2020": {},
									"sinkSynapseAnalyticsPayrollSummary": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlstrinm3",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayrolltrinm3/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FiscalYearParam": {
						"type": "int",
						"defaultValue": 2019
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-07-18T03:24:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline - Emp Csv to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow Emp Csv to Synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow Emp Csv to Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourcecsvemp": {},
									"sinksynapseemp": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlstrinm3",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayrolltrinm3/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-07-17T16:54:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline - Load All Data to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow Agency",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow Agency Csv to Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourcecsvagency": {},
									"sinksynapseagency": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlstrinm3",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayrolltrinm3/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow Emp",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow Emp Csv to Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourcecsvemp": {},
									"sinksynapseemp": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlstrinm3",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayrolltrinm3/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow Title",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow Title Csv to Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourcecsvtitle": {},
									"sinksynapsetitle": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlstrinm3",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayrolltrinm3/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow Payrol",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow Agency",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Data flow Emp",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Data flow Title",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow PayrollData Sql to Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourcesqlpayroll": {},
									"sinksynapsepayroll": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlstrinm3",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayrolltrinm3/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-07-17T17:02:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow Title Csv to Synapse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline - Payroll data Csv to Sql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to load 2021 Payroll data into transaction table in the SQL DB",
				"activities": [
					{
						"name": "Data flow Payroll data",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow PayrollData Csv to sql",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourcecsvnycpayroll": {},
									"sinksqlnycpayroll": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-07-17T16:49:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline - Payroll data Sql to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow Payroll data Sql to Synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow PayrollData Sql to Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourcesqlpayroll": {},
									"sinksynapsepayroll": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlstrinm3",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayrolltrinm3/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-07-17T16:49:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline - Title Csv to Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow Title Csv to Synapse",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow Title Csv to Synapse",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourcecsvtitle": {},
									"sinksynapsetitle": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ls_adlstrinm3",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adlsnycpayrolltrinm3/dirstaging"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-07-17T16:55:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow Title Csv to Synapse')]"
			]
		}
	]
}